.save-page {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.089)), url(../../../assets/slider-3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}
