.subscribe-page {
  background-image: url(../../../assets/subscribe.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.subscribe-page .display-4 {
  color: whitesmoke;
  font-weight: 500;
}

.subscribe-page .lead {
  color: whitesmoke;
}

.subscribe-page .text-subscribe {
  color: whitesmoke;
}
