.dashboard {
  background-image: url(../../assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -10px;
  min-height: 130vh;
}
.dashboard-custom {
  background-color: var(--clr-secondary);
  min-height: 100vh;
}
.profile {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.profile-card {
  border-top: 5px solid var(--clr-primary);
  border-radius: 15px;
  background-image: url(../../assets/cover-profile.jpg);
  background-size: cover;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.card {
  border-radius: 0px ;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.das-card-custom:hover {
  right: -3px;
  animation: cardhovertop 0.3s;
  border-right: 5px solid var(--clr-primary);
}  

@keyframes cardhovertop {
  0%   {border-right: 2px solid var(--clr-secondary-accent);}
  100% {border-right: 5px solid var(--clr-primary);}
}