.modal-header,
.modal-body,
.modal-footer{
  background-color: #383838;
  color: white;
  border-radius: 15px !important ;
  border: none !important;
  padding: 30px;
}
.modal-content {
  overflow:hidden;
  background-color: #383838 !important;
  border-radius: 15px !important;
  border-top: solid 2px #FFB548;
}

.form-control:focus {
  border-color: var(--clr-primary) !important;
  box-shadow: 0 0 5px var(--clr-primary-accent) !important;
}
