.main-page {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.089)), url(../../assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 130vh;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* == header--hero-section == */
.header--custom h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 2px 2px 5px var(--clr-secondary);
}
.header--custom h2 {
  text-transform: capitalize;
  font-size: 2rem;
}

@keyframes leftright{
  0% {
    opacity :0;
    transform: translateX(-100px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}
@keyframes rightleft{
  0% {
    opacity :0;
    transform: translateX(100px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}
.header--animation_a {
  animation: leftright 2s;
}
.header--animation_b {
  animation: rightleft 2s;
}

.custom-home-button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation: rippleEffect 1s infinite linear;
}

/* .custom-home-button:hover {
  animation: rippleEffect 1s infinite linear;
} */