.score-page {
  background-image: url(../../../assets/top-score-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 120vh;
}

.score-page .display-4 {
  color: whitesmoke;
  font-weight: 500;
}

.score-page .lead {
  color: whitesmoke;
}

.score-page a {
  margin-top: 20px;
  padding: 15px 20px;
  text-align: center;
  transition-duration: 0.4s;
}
/* 
.score-page a:hover {
  background-color: blanchedalmond;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
.card-custom:hover {
  left: -8px;
  animation: cardhover 0.3s;
  border-left: 5px solid var(--clr-primary);
}  

@keyframes cardhover {
  0%   {border-left: 2px solid var(--clr-secondary-accent);}
  100% {border-left: 5px solid var(--clr-primary);}
}

.score-page h5 {
  color: orange;
}

.avatar {
  max-width: 4rem;
  float: left;
  position: relative;
  z-index: 1;
}

.circle--bg::after {
  content: "";
  display: inline-block;
  background-color: #f3af34;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  position: absolute;
  top: 1.3rem;
  left: 1.5rem;
}

@media (min-width: 992px) {
  .score-page .display-4 {
    margin-top: 200px;
  }
}
