
/* ==footer-section== */
/* social-media links */
li a {
  text-decoration: none;
  color: var(--clr-secondary-accent);
}
li a:hover {
  color: white;
}

/* footer-nav */
.footer--custom {
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
}
li {
  list-style: none;
}
#copyright {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  color: var(--clr-secondary-accent);
}
.footer--custom_line {
  border-top: thin solid var(--clr-secondary-accent);
}
.footer--custom_line li + li:before{
  content: " | ";
  padding: 0 10px;
  color: var(--clr-secondary-accent);
}