.game-page {
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.712),rgba(0, 0, 0, 0.089)), url(../../assets/slider-3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}
.game-page h2,h1 {
  font-family: var(--ff-game);
  text-shadow: 2px 2px 5px var(--clr-secondary)
}
.game-header_custom {
  padding: 70px;
}
.game-header_custom img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.game-header_icon h1{
  font-size: 2rem;
}
.game-section_custom {
  margin: 20px;
}

.game-section_custom img {
  background-color: var(--clr-selected);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.game-section_player img {
  cursor: pointer;
}

/* message background */
.bg-default {
  background: #68503F;
  color: #f3f4f5;
  padding: 0.5em 1em;
  border-radius: 3.2rem;
  box-shadow: 0 0 2em -0.3em rgba(18, 21, 22, 0.65);
}

.bg-selected {
  animation: rippleEffect 1s infinite linear;
}

.reset-button:hover{
  /* animation: rippleEffect 1s infinite linear; */
  cursor: pointer;
  box-shadow: rgba(116, 112, 112, 0.17) 0px -23px 25px 0px inset, rgba(156, 154, 154, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* button hover tooltip */

.rules-button:hover,
.logo-button:hover {
  transform: scale(1.05);
}


/* animation */
@keyframes rippleEffect {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
  }
  100% {
    box-shadow: 0 0 0 1rem transparent;
  }
}

@keyframes popUp {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1); 
  }
}