.custom-navbar {
  /* background-color: rgba(0, 0, 0, 0.5); */
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  z-index: 2;
}

.nav-link {
  color: rgb(201, 201, 201);
} 
.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--clr-primary);
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.active {
  color: red;
  text-decoration: none;
}