.game-card {
  position: relative;
  z-index: 1;
  border-top: 5px solid var(--clr-primary);
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  height: 32rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.custom_gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.692),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px;
}

.custom-header h2{
  text-transform: uppercase;
  text-shadow: 2px 2px 5px var(--clr-secondary);
  font-weight: bold;
}
.game-detail_custom-button button{
  padding: 10px 15px;
  border-radius: 20px ;
}