.games-page {
  background-image: url(../../../assets/the-games-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 120vh;
}

.games-page .display-4 {
  color: whitesmoke;
  font-weight: 500;
}

.games-page .lead {
  color: whitesmoke;
  margin-top: 100px;
}

@media (min-width: 992px) {
  .slider-layout {
    position: relative;
    left: 30%;
  }
}
